<nav>
  <button type="button" class="btn btn-primary">
      <%= link_to 'Home', home_page_path %>
  </button>

  <button type="button" class="btn btn-primary">
      <%= link_to 'View Image Catalogue', photos_path %>
  </button>

  <button type="button" class="btn btn-primary">
      <%= link_to 'Search', home_page_path %>
  </button>

  <button type="button" class="btn btn-primary">
      <%= link_to 'My Portfolio', home_page_path %>
  </button>

  <button type="button" class="btn btn-primary">
      <%= link_to 'Upload a New Photo', new_photo_path %>
  </button>

  <button type="button" class="btn btn-primary">
      <%= link_to 'Edit Profile', home_page_path %>
  </button>

  <button type="button" class="btn btn-primary">
      <%= link_to 'Shopping Cart', home_page_path %>
  </button>

  <button type="button" class="btn btn-primary">
      <%= link_to 'Log Out', home_page_path %>
  </button>

  <button type="button" class="btn btn-primary">
      <a href="#top">Top of Page</a>
  </button>

  <button type="button" class="btn btn-primary">
      <%= link_to 'Help', home_page_path %>
  </button>

</nav>