<nav>
  <button type="button" class="btn btn-primary">
      <%= link_to 'Home', home_page_path %>
  </button>

  <button type="button" class="btn btn-primary">
      <%= link_to 'View Image Catalogue', photos_path %>
  </button>

  <button type="button" class="btn btn-primary">
      <%= link_to 'Search', home_page_path %>
  </button>

  <button type="button" class="btn btn-primary">
      <%= link_to 'My Portfolio', home_page_path %>
  </button>

  <button type="button" class="btn btn-primary">
      <%= link_to 'Upload a New Photo', new_photo_path %>
  </button>

  <button type="button" class="btn btn-primary">
      <%= link_to 'Shopping Cart', home_page_path %>
  </button>

    <% if user_signed_in? %>
    <button type="button" class="btn btn-primary">
        <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
    </button>
    <% end %>

    <% if !user_signed_in? %>
    <button type="button" class="btn btn-primary">
        <%= link_to 'Log In', new_user_session_path %>
    </button>
    <% end %>  

    <% if !user_signed_in? %>
    <button type="button" class="btn btn-primary">
        <%= link_to 'Sign Up', new_user_registration_path %>
    </button>
    <% end %> 

  <button type="button" class="btn btn-primary">
      <a href="#top">Top of Page</a>
  </button>

  <button type="button" class="btn btn-primary">
      <%= link_to 'Help', home_page_path %>
  </button>

</nav>