<%# Included during development - delete later %>
<% if user_signed_in? %>
    <p>User ID:&nbsp;</p><%= current_user.id %>
<% end %>

<h2>Welcome to Pixeltastic!</h2>
<p>An easy to use, stock photography website for creative photographers to sell their photos.</p>

<section class="card_catalogue">
    <% @photos.each do | photo | %> 
    <div class="card" style="width: 18rem;">
        <div class=”card-img-top”>
        <%= image_tag photo.image %>
        </div>
        <div class="card-body">
            <strong>Title: </strong><%= photo.title %>
            <br>
            <% if photo.category? %>
            <strong>Category: </strong><%= photo.category %>
            <% else %>
            <&nbsp;;>
            <% end %>
            <br>
            <strong>Price: $</strong><%= photo.price %>
            <br>
        <button type="button" class="btn btn-primary">
            <%= link_to 'Learn More', photo %>
        </button>

        <button type="button" class="btn btn-primary">
            <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure? This action is permanent.' } %>
        </button>
        </div>

    </div>
    </section>

    <% end %>