<p id="notice"><%= notice %></p>

<h1>Image Catalogue</h1>

<section class="card_catalogue">
  <% @photos.each do | photo | %> 
  <div class="card" style="width: 18rem;">
    <div class=”card-img-top”>
      <%= image_tag photo.image %>
      </div>
      <div class="card-body">
        <strong>Title: </strong><%= photo.title %>
        <br>
        <strong>Category: </strong><%= photo.category %>
        <br>
        <strong>Price: $</strong><%= photo.price %>
        <br>
      <button type="button" class="btn btn-primary">
        <%= link_to 'Learn More', photo %>
      </button>
    </div>
  </div>
</section>

<% end %>