<h1 class="page_title">Portfolio</h1>

<% if !user_signed_in? %>
    <p>You need to be logged in to view your portfolio. Please log in or sign up below.</p>
    <button type="button" class="btn btn-primary">
        <%= link_to 'Log In', new_user_session_path %>
    </button>

    <button type="button" class="btn btn-primary">
    <%= link_to 'Sign Up', new_user_registration_path %>
    </button>

    <% else %>  

<section class="main">
    <% @portfolio.each do | photo | %> 
    <div class="card" style="width: 18rem;">
        <%= image_tag photo.image, class: "card-img-top" %>
        <div class="card-body">
            <strong>Title: </strong><%= photo.title %>
            <br>
            <% if photo.category? %>
            <strong>Category: </strong><%= photo.category %>
            <% else %>
            <&nbsp;;>
            <% end %>
            <br>
            <strong>Price: $</strong><%= photo.price %>
            <br>

        <button type="button" class="btn btn-primary">
            <%= link_to 'View Details', photo %>
        </button>

  <% if photo.user_id == current_user.id %>
    <button type="button" class="btn btn-info">
      <%= link_to 'Edit', edit_photo_path(photo) %>
    </button>
  <% end %>

<% if photo.user_id == current_user.id %>
        <button type="button" class="btn btn-primary">
            <%= link_to 'Delete', photo, method: :delete, data: { confirm: 'Are you sure? This action is permanent.' } %>
        </button>
        </div>
    <% end %>
    </div>
    
    </div>
    <% end %>

    </div>

    <% end %>
    </div>
    </section>