<section class="show_page">
  <main>
  <p id="notice"><%= notice %></p>

  <h1>
    <%= sanitize(@photo.title) %>
  </h1>

  <p>
    <%= image_tag @photo.image %>
  </p> 

  <p>
    <strong>Description:</strong>
    <%= sanitize(@photo.description) %>
  </p>

  <p>
    <strong>Price: $</strong>
    <%= @photo.price %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @photo.category %>
  </p>

  <p>
    <strong>Style:</strong>
    <%= @photo.style %>
  </p>

  <p>
    <strong>Date Added:</strong>
    <%= @photo.created_at.strftime("%d/%m/%Y") %>
  </p>

  <br>

 <% if user_signed_in? %>
    <button type="button" id="checkout-button" class="btn btn-info">Buy Now</button>
  <% else %>
    <button type="button" class="btn btn-info">
      <%= link_to 'Log In to Buy', new_user_session_path %>
    </button>
<% end %>

  <% if user_signed_in? %>
    <% if @photo.user_id == current_user.id %>
      <button type="button" class="btn btn-info">
        <%= link_to 'Edit', edit_photo_path(@photo) %>
      </button>
    <% end %>
  <% end %>

  <button type="button" class="btn btn-info">
    <%= link_to 'Back', photos_path %>
  </button>

  <br>
</section>

<%# Stripe checkout button %>
<script type="text/javascript">
  // Create an instance of the Stripe object with your publishable API key
  var stripe = Stripe("<%= Rails.application.credentials.dig(:stripe, :public_key) %>");

  var checkoutButton = document.getElementById("checkout-button");
  checkoutButton.addEventListener("click", function () {
    fetch("/transactions", {
      method: "POST",
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded'
      },
      body: "id=<%= @photo.id %>"
    })
      .then(function (response) {
        return response.json();
      })
      .then(function (session) {
        return stripe.redirectToCheckout({ sessionId: session.id });
      })
      .then(function (result) {
        // If redirectToCheckout fails due to a browser or network
        // error, you should display the localized error message to your
        // customer using error.message.
        if (result.error) {
          alert(result.error.message);
        }
      })
      .catch(function (error) {
        console.error("Error:", error);
      });
  });
</script>

</main>