<main>
<p id="notice"><%= notice %></p>

<h1>
  <%= @photo.title %>
</h1>

<p>
  <%= image_tag @photo.image %>
</p> 

<p>
  <strong>Description:</strong>
  <%= @photo.description %>
</p>

<p>
  <strong>Price: $</strong>
  <%= @photo.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @photo.category %>
</p>

<p>
  <strong>Style:</strong>
  <%= @photo.style %>
</p>

<br>

<button type="button" class="btn btn-info">
  <%= link_to 'Edit', edit_photo_path(@photo) %>
</button>

<button type="button" class="btn btn-info">
  <%= link_to 'Back', photos_path %>
</button>

<br>
</main>